USE [master]
GO
/****** Object:  Database [Album]    Script Date: 15/7/2026 09:05:30 ******/
CREATE DATABASE [Album]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Album', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Album.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Album_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Album_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Album].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Album]
GO
/****** Object:  User [alumno]    Script Date: 15/7/2026 09:05:30 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Album]    Script Date: 15/7/2026 09:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Album](
	[id] [int] NOT NULL,
	[idFigurita] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
 CONSTRAINT [PK_Album] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Figuritas]    Script Date: 15/7/2026 09:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Figuritas](
	[id] [int] NOT NULL,
	[archivo] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[numero] [int] NOT NULL,
	[pais] [varchar](50) NOT NULL,
	[color] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Jugadores] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Figuritas] ([id], [archivo], [nombre], [numero], [pais], [color]) VALUES (1, N'messi.svg', N'MESSI', 10, N'ARGENTINA', N'#75AADB')
INSERT [dbo].[Figuritas] ([id], [archivo], [nombre], [numero], [pais], [color]) VALUES (2, N'alvarez.svg', N'ÁLVAREZ', 9, N'ARGENTINA', N'#75AADB')
INSERT [dbo].[Figuritas] ([id], [archivo], [nombre], [numero], [pais], [color]) VALUES (3, N'emiliano.svg', N'E. MARTÍNEZ', 23, N'ARGENTINA', N'#75AADB')
GO
ALTER TABLE [dbo].[Album]  WITH CHECK ADD  CONSTRAINT [FK_Album_Figuritas] FOREIGN KEY([idFigurita])
REFERENCES [dbo].[Figuritas] ([id])
GO
ALTER TABLE [dbo].[Album] CHECK CONSTRAINT [FK_Album_Figuritas]
GO
USE [master]
GO
